i {
  background-color: #ededed;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: #0168fc;
  text-align: center;
}
i:hover {
  border: 1px solid rgb(76, 76, 79);
  background: #cdc9cb;
  cursor: pointer;
}
i:active {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}
