img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #eee;
  color: rgb(62, 33, 4);
}

h1 {
  font-family: "Almarai";
  display: block;
  font-size: 60px;
  font-weight: 500;
}

form {
  padding: 10px;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: row;
}
