/* Containers */

.container {
  display: flex;
  align-items: center;
  background-color: #01a0fe;
  border-radius: 25px;
  height: 700px;
  margin: 10px;
}
.grey_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  height: 60%;
  font-family: "Acme";
}
.get_in_touch {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.text-container {
  flex: 1;
  padding: 20px;
  margin: 190px;
}

.image-container {
  flex: 1;
  padding: 20px;
}

/* General */

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ededed;
  color: rgb(62, 33, 4);
}

h1 {
  font-family: "Almarai";
  display: block;
  font-size: 60px;
  font-weight: 500;
}

p {
  font-size: 20px;
  font-family: "Almendra";
}

i {
  font-size: 24px;
}

/* I */

i {
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: #0168fc;
  text-align: center;
}
i:hover {
  border: 1px solid rgb(76, 76, 79);
  background: #887b81;
  cursor: pointer;
}
i:active {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}

/* Buttons */

button {
  border-radius: 20px;
  border-width: 2px;
  border-color: #887b81;
  font-size: 20px;
}
button:hover {
  background: #01a0fe;
  cursor: pointer;
}

/* Input */

input {
  border-radius: 50px;
  border-width: 1px;
  border-color: #ccc;
  background-color: #fff;
  color: #ccc;
  width: 100%;
  font-size: 16px;
  font-weight: 550;
  font-family: "Acme";
  flex: 2 2;
  padding: 4px;
}

input::placeholder {
  color: #ccc;
}
form {
  padding: 10px;
  align-items: center;
}

#firmly {
  gap: 12px;
}
.column {
  display: flex;
  flex-direction: row;
}
